{{ define "main" }}
<div class="uk-section uk-margin-medium-top">
    <div class="uk-container">
        <div class="uk-text-left uk-grid-large uk-flex-middle" uk-grid>
            <div class="uk-width-1-3@s">
                <div class="uk-card">
                    <h2>Manage your entire team, listings, and offices in one dashboard</h2>
                    <div class="uk-margin-medium">
                        <p>Add as many team members, listings, and dashboard with no limit. Scale your brokerage with a high performing website</p>
                        <a href="#modal-signup" class="uk-button uk-button-primary" uk-toggle>Get started</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card box-shadow">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628183050/hungryram/manual-listings_cyquqk.jpg" alt="" class="border">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-margin-medium-top">
    <div class="uk-container">
        <div class="uk-text-left uk-grid-large uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-card box-shadow">
                    <video src="https://res.cloudinary.com/hungryram19/video/upload/v1628187465/hungryram/admin2_lzlrvt.mp4" loop muted playsinline uk-video="autoplay: inview"></video>
                </div>
            </div>
            <div class="uk-width-1-3@s">
                <div class="uk-card">
                    <h2>Get access to customize your website</h2>
                    <div class="uk-margin-medium">
                        <p>With a versatile back end system, you'll be able to manage your entire website whenever. Need a custom feature for your brokerage? No problem at all.</p>
                        <a href="#modal-signup" class="uk-button uk-button-primary" uk-toggle>Get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-margin-medium-top">
    <div class="uk-container">
        <div class="uk-text-left uk-grid-large uk-flex-middle" uk-grid>
            <div class="uk-width-1-3@s">
                <div class="uk-card">
                    <h2>Your brokerage built on the newest tools for websites</h2>
                    <div class="uk-margin-medium">
                        <p>While larger agencies are stuck building on Wordpress, your brokerage will scale using modern web development architecture.</p>
                        <a href="#modal-signup" class="uk-button uk-button-primary" uk-toggle>Get started</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card box-shadow">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628191120/hungryram/listings2_sygkmq.jpg" alt="" class="border">
                </div>
            </div>
        </div>
    </div>
</div>
{{ partial "global/closing" . }}
{{ end }}