{{ define "main" }}
<div class="uk-section">
    <div class="uk-container uk-text-center">
        <div class="uk-flex uk-flex-center">
            <div class="uk-width-large">
                <h2 class="uk-text-center"><span class="accent">Broker</span> Website with IDX</h2>
                <p>Focus on growing your brokerage while your website brings in the leads. Integrated with iHomefinder - the most used IDX in the market.</p>
            </div>
        </div>
        <div class="uk-grid-column-medium uk-grid-row-large uk-child-width-1-3@s uk-text-center uk-margin-medium-top" uk-grid uk-height-match="target: .uk-card">
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628123015/hungryram/scale_c1kkqk.png" alt="" width="100" width="100">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-h4 uk-text-bold">Scale your brokerage</h3>
                        <p>Website performance is important as your brokerage grows. Security and maintenance is taken care of for you.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628123015/hungryram/team_emitib.png" alt="" width="100" width="100">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-h4 uk-text-bold">Manage teams and offices</h3>
                        <p>Provide your team their own personalized page with listings, bio, and leads.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628123015/hungryram/personalized-search_ctfqvk.png" alt="" width="100" width="100">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-h4 uk-text-bold">Personalize searches</h3>
                        <p>Send in new listings to your leads that meet specific requirements.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container" uk-height-match="target: .uk-card">
        <div uk-grid>
            <div class="uk-width-1-2@s uk-card uk-flex uk-flex-middle">
                <div class="uk-width-large switcher">
                    <h2>Control your online presence with powerful tools for your brokerage</h2>
                    <div class="uk-margin-medium">
                        <p>A more powerful online presence for your real estate business. Combining modern web tools with Ihomefinder, your site will perform different than most real estate sites.</p>
                        <a href="#modal-signup" class="uk-button uk-button-primary" uk-toggle>Get started</a>
                    </div>
                    <ul class="uk-list uk-text-left">
                        <li class="uk-text-bold"><span uk-icon="icon: check" class="uk-margin-small-right"></span>Branded email listing alerts</li>
                        <li class="uk-text-bold"><span uk-icon="icon: check" class="uk-margin-small-right"></span>Daily statistics and resporting</li>
                        <li class="uk-text-bold"><span uk-icon="icon: check" class="uk-margin-small-right"></span>Search by map</li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card switcher-video">
                    <ul style="padding-left:0;">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628104078/hungryram/idxhomes_wglvnk.jpg" alt="">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BANNER -->
<div style="background: url(https://res.cloudinary.com/hungryram19/image/upload/v1628046996/hungryram/parallax-background_b2vsuk.jpg) no-repeat center;padding-top:40px;padding-bottom:40px;" uk-parallax="bgy: -200">
    <div class="uk-container">
        <div class="uk-flex uk-flex-middle" uk-grid>
            <div class="uk-width-1-2@s">
                <div>
                    <h3 class="uk-white">Ready to grow your brokerage site on top of modern technology?</h3>
                    <p class="uk-white">Save hours of valuable time and money and trust that your website will be the right solution for you.</p>
                </div>
            </div>
            <div class="uk-width-1-2@s">
                {{ partial "templates/form" . }}
            </div>
        </div>
    </div>
</div>

<!-- OTHER SECTION -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-card uk-card-default">
                    <video src="https://res.cloudinary.com/hungryram19/video/upload/v1628116758/hungryram/karina-crisp-featured_fujx1s.mp4" loop muted playsinline uk-video="autoplay: inview"></video>

                </div>
            </div>
            <div class="uk-width-1-3@s uk-flex uk-flex-middle">
                <div class="uk-width-large uk-margin-medium">
                    <h2>Need a different design for your own branding?</h2>
                    <div class="uk-margin-medium">
                        <p>A more custom design will better reflect your brand image and how you are presented to your visitors.</p>
                        <a href="#modal-signup" class="uk-button uk-button-primary" uk-toggle>Learn more</a>
                    </div>

                    <ul class="uk-list uk-text-left">
                        <li class="uk-text-bold"><span uk-icon="icon: check" class="uk-margin-small-right"></span>Design 100% unique for your business</li>
                        <li class="uk-text-bold"><span uk-icon="icon: check" class="uk-margin-small-right"></span>Affordable than most</li>
                        <li class="uk-text-bold"><span uk-icon="icon: check" class="uk-margin-small-right"></span>Request custom features</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- CLOSING -->
{{ partial "global/closing" . }}

{{ end }}