{{ define "main" }}
{{ $optBlock := dict "display" "block" }}
<div class="uk-section uk-margin-medium-top">
    <div class="uk-container">
        <div class="uk-text-left uk-grid-large" uk-grid>
            <div class="{{ if .Params.image }}uk-width-1-2@s{{ else }}uk-width-1-3@s{{ end }}">
                    <div class="uk-card md__content">
                        {{ if .Params.intro.shopify }}
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628136652/hungryram/shopify-partner_gyjw3i.png" alt="Shopify Partner" width="300">
                        {{ end }}
                        <h2>{{ .Params.intro.heading }}</h2>
                        <div class="uk-margin-medium">
                            <p>{{ .Params.intro.body | markdownify }}</p>
                            <a href="#modal-signup" class="uk-button uk-button-primary" uk-toggle>Get started</a>
                        </div>
                    </div>
            </div>
            <div class="{{ if .Params.image }}uk-width-1-2@s{{ else }}uk-width-expand@s{{ end }}">
                <div class="uk-card box-shadow">
                    {{ if .Params.image }}
                    <img src="{{ .Params.image }}" alt="{{ .Params.image_alt_tag }}">
                    {{ else }}
                    <div uk-lightbox>
                        <a href="{{ .Params.video }}"><video src="{{ .Params.video }}" loop="" muted="" playsinline="" uk-video="autoplay: inview" preload="none"></video></a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="uk-section uk-section-small">
    <div class="uk-container">
        <div style="background: #333333">
            <div class="uk-flex uk-flex-center uk-padding">
                <div class="uk-width-2xlarge uk-text-center uk-white">
                    <h2 class="uk-text-center uk-white uk-margin-remove" style="font-size:1.5rem">{{ .Params.banner.heading }}</h2>
                    <p>{{ .Params.banner.body }}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="uk-section uk-section-small uk-margin-large-bottom">
    <div class="uk-container">
        <h2>{{ .Params.second_intro.heading }}</h2>
        <div class="uk-text-left uk-grid-large" uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-card md__content">
                    <div>
                        <p>{{ .Params.second_intro.body | markdownify }}</p>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@s uk-visible@s">
                <div class="uk-card">
                    <h3 class="uk-margin-small-top">All our sites follow important web standards</h3>
                    <ul class="uk-list uk-text-left">
                        <li class="uk-text-bold accent"><a href="/services/websites-with-ssl-certificates/"><span uk-icon="icon: arrow-right;ratio: 1.5" class="uk-margin-small-right"></span>Fully installed and secured with SSL certificate</a></li>
                        <li class="uk-text-bold accent"><a href="/services/responsive-web-design/"><span uk-icon="icon: arrow-right;ratio: 1.5" class="uk-margin-small-right"></span>Responsive web design for all devices</a></li>
                        <li class="uk-text-bold accent"><a href="/services/web-hosting/"><span uk-icon="icon: arrow-right;ratio: 1.5" class="uk-margin-small-right"></span>Blazing-fast hosting</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-1 md__content">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ partial "global/closing" . }}
{{ end }}