{{ define "main" }}
    <div class="uk-section">
        <div class="uk-container uk-container-small uk-text-center">
            <h2>Onboarding Complete!</h2>
            <p>Your onboarding is complete. Our designers will put together your website with the information you have submitted. Please complete your website order by clicking the button below. <a href="/contact">Contact</a> our team if you have any inforamtion</p>
            <a href="https://checkout.square.site/merchant/RTD8Y3XQNC1MZ/checkout/S6AVL4EN4XHPNVQDMN3YLLRD" class="uk-button uk-button-primary">Click here to complete your website</a>
        </div>
    </div>
{{ end }}