{{ define "main" }}
<div class="uk-section uk-section-small" id="blog-wrapper">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-3-4@s">
                <div class="uk-card">
                    <div class="image-wrapper uk-margin-large">
                        {{ if .Params.featured_image }}
                        <img src="{{ .Params.featured_image }}" alt="{{ .Params.image_alt_tag }}">
                        {{ end }}
                    </div>
                    <div class="md__content blog__content">
                        {{ .Content }}
                    </div>
                </div>

            </div>
            <div class="uk-width-expand@s">
                <div class="uk-card">
                    <h5>Categories</h5>
                    <ul class="uk-list">
                        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                      <li>
                        <a href="/categories{{ $name | urlize | relURL }}" class="tags accent">{{ $name | humanize }} <span href="#" uk-icon="icon: arrow-right" class="uk-margin-small-left"></span></a>
                      </li>
                      {{end}}
                    </ul>
                </div>
                <div class="uk-card uk-padding-small uk-margin-medium-top" style="background:#eee">
                    <h2 class="uk-h4">Do you want more traffic?</h2>
                    <p>Get a professional to audit your website</p>
                    <form name="Website URL" method="POST" netlify-honeypot="bot-field" data-netlify="true" action="/thank-you">
                        <div class="uk-margin" uk-margin>
                            <div>
                                <input class="uk-input uk-form-width-large" type="text" placeholder="Your website URL" name="website name">
                            </div>
                            <button class="uk-button uk-button-primary uk-width-1-1">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="uk-card uk-margin-medium-top">
                    <h2 class="uk-h4">Recent Posts</h2>
                    {{ range first 5 (where .Site.RegularPages "Type" "blog") }}
                        <a href="{{ .Permalink }}" class="uk-link-text">
                            <h2 class="uk-h5">{{ .Title }}</h2>
                        </a>
                    {{ end }}
                </div>
            </div>
        </div>
        
    </div>
</div>
{{ end }}
