{{ define "main" }}
<div class="uk-section uk-margin-medium-top">
    <div class="uk-container uk-container-small">
        <div uk-grid>
            <div class="uk-width-1-1@s">
                <div class="uk-card uk-text-center uk-margin-large-bottom">
                    <h2>Our goal is to create the most modern and easy website usability based on user interaction</h2>
                </div>
                <div class="uk-flex uk-flex-center">
                    <div class="uk-width-2xlarge">
                        <p>Hungry Ram Web Design is a small studio founded by Ram Dettmer located in Yorba Linda, CA. We are a team of web designers and graphic designers with a passion for anything tech. There is never a day where we never stop learning and this has helped us stand out from larger agencies.</p>
                        <h3 class="uk-h4">How is Hungry Ram doing things differently?</h3>
                        <p>We have achieved success by moving away from the direction most agencies were going towards - building on Wordpress, or any other website builders out there. Website builders allow for easy customization without having to touch code which allows agencies to deliver faster designs.</p>
                        <p>Back in 2018, we learned that there was a new way to build faster and more secure websites that only experienced independent developers had adopted, and that way was using the jamstack architecture. So we decided to utilize this method and give our clients the upper hand. Jamstack sites are essentially hand-coded from scratch without the need for a database, resulting in a much more secure and faster website.</p>
                        <h3 class="uk-h4">Why the name Hungry Ram?</h3>
                        <p>It all started with a joke from a friend that the founder, Ram was always hungry and loved cooking, so he purchased the domain hungryram.com. But Hungry Ram came to be more than just a hungry founder. Hungry Ram could mean you're hungry for success, hungry to reach your goals, and that was how Hungry Ram came to be. Helping businesses in the digital world who are hungry for success became one of our best achievements.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" style="background: #F5F5F5" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628214718/hungryram/contact-hungry-ram_antytx.jpg" alt="" uk-cover>
            <canvas height="500"></canvas>
        </div>
        <div class="uk-flex uk-flex-middle uk-flex-center">
            <div class="uk-width-large">
                <div class="uk-card-body">
                    <h2>We're small but growing!</h2>
                    <p>Our growth comes from our amazing clients who refer us to their friends and family because they love working with us!</p>
                    <ul class="uk-list">
                        <li><span uk-icon="icon: check" class="uk-margin-small-right"></span>We have the experience</li>
                        <li><span uk-icon="icon: check" class="uk-margin-small-right"></span>Delivering quality web designs</li>
                        <li><span uk-icon="icon: check" class="uk-margin-small-right"></span>The best support you will receive</li>
                        <li><span uk-icon="icon: check" class="uk-margin-small-right"></span>We keep your site updated</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container uk-container-large">
        <div class="uk-width-1-1 uk-flex uk-flex-center uk-margin-medium-bottom">
            <div class="uk-width-large uk-text-center">
                <h2 class="uk-margin-remove uk-text-bold">Client Testimonials</h2>
                <p>Clients across the country spreading referrals and positive feedback!</p>
            </div>
        </div>
        <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider>
            <ul class="uk-slider-items uk-grid" uk-height-match="target: .uk-card">
                {{ range shuffle (where .Site.RegularPages "Type" "portfolio") }}
                {{ if .Params.review }}
                <li class="uk-width-1-2@s">
                    <div class="uk-panel">
                        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" style="box-shadow: none;border:1px solid #ededed;border-radius:5px" uk-grid>
                            <div class="uk-card-media-left uk-cover-container">
                                <img src="{{ .Params.featured_image }}" alt="{{ .Params.image_alt_tag }}" uk-cover>
                                <canvas height="200"></canvas>
                            </div>
                            <div>
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title uk-margin-remove uk-h5">{{ .Params.client_name }}</h3>
                                    <h4 class="uk-h5 uk-dark accent" style="margin-top: 5px;">{{ .Title }}</h4>
                                    <p>{{ .Params.review }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
        </div>
    </div>
</div>

{{ partial "global/closing" . }}

{{ end }}