{{ define "main" }}
<div class="uk-section uk-margin-medium-top">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-3@s">
                <div class="uk-card">
                    <h2>How your website is built matters <span class="accent">a lot</span></h2>
                </div>
            </div>
            <div class="uk-width-1-3@s">
                <div class="uk-card">
                    <p class="uk-text-default">Located in Orange County, California - Hungry Ram started with a vision of delivering high-performance websites to businesses at affordable prices, while maintaining superior support.</p>
                </div>
            </div>
            <div class="uk-width-1-3@s">
                <div class="uk-card">
                    <p class="uk-text-default">Real estate web design was the initial focus. But many client referrals crossed nationwide through various businesses, so the decision to help other industries expanded our reach.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" style="background: #F5F5F5" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628214718/hungryram/contact-hungry-ram_antytx.jpg" alt="" uk-cover>
            <canvas height="500"></canvas>
        </div>
        <div class="uk-flex uk-flex-middle uk-flex-center">
            <div class="uk-width-large">
                <div class="uk-card-body">
                    <h2>Following important web industry standards</h2>
                    <p>As technology and Googles search algorithm changes, so should your website. While there are many factors in website development, these are the most crucial</p>
                    <ul class="uk-list">
                        <li><span uk-icon="icon: check" class="uk-margin-small-right"></span>SEO for search engines</li>
                        <li><span uk-icon="icon: check" class="uk-margin-small-right"></span>Responsive Design for any device</li>
                        <li><span uk-icon="icon: check" class="uk-margin-small-right"></span>Schema to help Google identify your business</li>
                        <li><span uk-icon="icon: check" class="uk-margin-small-right"></span>SSL certificate for security</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container uk-container-large">
        <div class="uk-width-1-1 uk-flex uk-flex-center uk-margin-medium-bottom">
            <div class="uk-width-large uk-text-center">
                <h2 class="uk-margin-remove uk-text-bold">Client Testimonials</h2>
                <p>Clients nationwide spreading referrals and positive feedback!</p>
            </div>
        </div>
        <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider>
            <ul class="uk-slider-items uk-grid" uk-height-match="target: .uk-card">
                {{ range shuffle (where .Site.RegularPages "Type" "portfolio") }}
                {{ if .Params.review }}
                <li class="uk-width-1-2@s">
                    <div class="uk-panel">
                        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" style="box-shadow: none;border:1px solid #ededed;border-radius:5px" uk-grid>
                            <div class="uk-card-media-left uk-cover-container">
                                <img src="{{ .Params.featured_image }}" alt="{{ .Params.image_alt_tag }}" uk-cover>
                                <canvas height="200"></canvas>
                            </div>
                            <div>
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title uk-margin-remove uk-h5">{{ .Params.client_name }}</h3>
                                    <h4 class="uk-h5 uk-dark accent" style="margin-top: 5px;">{{ .Title }}</h4>
                                    <p>{{ .Params.review }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
        </div>
    </div>
</div>

{{ partial "global/closing" . }}

{{ end }}