{{ define "main" }}
<div class="uk-section">
    <div class="uk-container uk-text-center">
        <div class="uk-flex uk-flex-center">
            <div class="uk-width-large">
                <h2 class="uk-text-center">Agent Website with IDX</h2>
                <p>Utilizing one of the most versatile website templates, your site will be fully integrated with one of the most used IDX on the market - Ihomefinder.</p>
            </div>
        </div>
        <div class="uk-grid-column-medium uk-grid-row-large uk-child-width-1-3@s uk-text-center uk-margin-medium-top" uk-grid uk-height-match="target: .uk-card">
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628111940/hungryram/sales_cxrqby.png" alt="" width="100" width="100">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-h4 uk-text-bold">Built for single agents</h3>
                        <p>Easily scale your website as your business grows</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628111940/hungryram/money_oohppl.png" alt="" width="100" width="100">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-h4 uk-text-bold">Affordable for new agents</h3>
                        <p>Start your site with low investments and receive superior services</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628111940/hungryram/mobile-responsive_xil3ij.png" alt="" width="100" width="100">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-h4 uk-text-bold">Adapt to any screen size</h3>
                        <p>Target your audience no matter what device they're using</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container" uk-height-match="target: .uk-card">
        <div uk-grid>
            <div class="uk-width-1-2@s uk-card uk-flex uk-flex-middle">
                <div class="uk-width-large switcher">
                    <h2>Delivering the ultimate real estate website at an affordable price</h2>
                    <div class="uk-margin-medium">
                        <p>A more powerful online presence for your real estate business. Combining modern web tools with Ihomefinder, your site will perform different than most real estate sites.</p>
                        <a href="" class="uk-button uk-button-primary">Get started</a>
                    </div>
                    <ul class="uk-list uk-text-left">
                        <li class="uk-text-bold"><span uk-icon="icon: check" class="uk-margin-small-right"></span>Property search with lead capture</li>
                        <li class="uk-text-bold"><span uk-icon="icon: check" class="uk-margin-small-right"></span>Track lead activities and the properties viewed</li>
                        <li class="uk-text-bold"><span uk-icon="icon: check" class="uk-margin-small-right"></span>Control your listings in the admin</li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card switcher-video">
                    <ul class="uk-margin">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628104078/hungryram/idxhomes_wglvnk.jpg" alt="">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- OTHER SECTION -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-card uk-card-default">
                    <video src="https://res.cloudinary.com/hungryram19/video/upload/v1628116758/hungryram/karina-crisp-featured_fujx1s.mp4" loop muted playsinline uk-video="autoplay: inview"></video>

                </div>
            </div>
            <div class="uk-width-1-3@s uk-flex uk-flex-middle">
                <div class="uk-width-large uk-margin-medium">
                    <h2>Need a different design for your own branding?</h2>
                    <p>A more custom design will better reflect your brand image and how you are presented to your visitors.</p>
                    <a href="" class="uk-button uk-button-primary">Learn more</a>

                    <ul class="uk-list uk-text-left">
                        <li class="uk-text-bold"><span uk-icon="icon: check" class="uk-margin-small-right"></span>Design 100% unique for your business</li>
                        <li class="uk-text-bold"><span uk-icon="icon: check" class="uk-margin-small-right"></span>Affordable than most</li>
                        <li class="uk-text-bold"><span uk-icon="icon: check" class="uk-margin-small-right"></span>Request custom features</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BANNER -->
<div class="uk-child-width-1-1 uk-light" uk-grid>
    <div>
        <div class="uk-background-cover uk-height-large uk-flex uk-flex-center uk-flex-middle" style="background-image: url(https://www.ekko-wp.com/wp-content/uploads/sites/3/2019/04/business4.jpg);" uk-parallax="bgy: -300; easing: 0">
            <div class="uk-container uk-container-medium">
                <div class="uk-grid">
                    <div class="uk-width-1-2@s uk-flex uk-flex-middle">
                        <div>
                            <h3>Transform your ideas into a great product</h3>
                            <p>Customize the framework to match your small business processes using simple drag-and-drop tools.</p>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" class="uk-grid-small" uk-grid action="/thank-you">
                            <input name="bot-field" type="hidden" />
                            <input name="Link" type="hidden" value="{{ .Permalink }}" />
                            <input type="hidden" name="Subject" value="Website Contact Form">
                            <div class="uk-width-1-2@s">
                                <input class="uk-input" type="text" placeholder="Name" name="Name">
                            </div>
                            <div class="uk-width-1-2@s">
                                <input class="uk-input" type="text" placeholder="Phone" name="Phone">
                            </div>
                            <div class="uk-width-1-1">
                                <input class="uk-input" type="text" placeholder="Email" name="Email">
                            </div>
                            <div class="uk-width-1-1">
                                <textarea class="uk-textarea" rows="5" placeholder="Your Message" name="Message"></textarea>
                            </div>
                            <div class="uk-width-1-1">
                                <button class="uk-button uk-button-secondary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CLOSING -->
{{ partial "global/closing" . }}

{{ end }}