
<footer class="footer">
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-2@s">
                    <div class="uk-width-large">
                        <h2>{{ .Site.Data.appearance.footer.heading }}</h2>
                    </div>
                </div>
                <div class="uk-width-1-2@s">
                    <div class="uk-flex uk-flex-middle uk-flex-right">
                        <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                        <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                        <a href="" class="uk-icon-button" uk-icon="youtube"></a>
                    </div>
                </div>
            </div>
            <div class="uk-grid-column-collapse uk-child-width-1-4@s" uk-grid>
                <div>
                    <h6 class="uk-text-bold accent">Quick Links</h6>
                    <ul class="uk-list">
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>                
                </div>
                <div>
                    <h6 class="uk-text-bold accent">Real Estate Website</h6>
                    <ul class="uk-list">
                        <li><a href="/blog">Agent Websites</a></li>
                        <li><a href="/blog">Broker Websites</a></li>
                        <li><a href="/blog">Single Property Websites</a></li>
                        <li><a href="/blog">Agent IDX</a></li>
                        <li><a href="/blog">Broker IDX</a></li>

                    </ul>                
                </div>
                <div>
                    <h6 class="uk-text-bold accent">Small Business Website</h6>
                    <ul class="uk-list">
                        <li><a href="/blog">Basic Website</a></li>
                        <li><a href="/blog">Custom Website</a></li>
                        <li><a href="/blog">Ecommerce Website</a></li>
                    </ul>           
                </div>
                <div>
                    <div class="footer-text">
                        <h6 class="uk-text-bold accent">Hungry Ram</h6>
                        <p>{{ .Site.Data.appearance.footer.body }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-2@s">
                <p class="uk-light uk-text-small">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }}  &middot; <a href="https://hungryram.com" target="_blank">Website Developed by Hungry Ram</a></p>
                <ul class="hr-legals uk-padding-remove">
                    {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
                    <li class="uk-light uk-text-small"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                  </ul>
            </div>
            <div class="uk-width-1-2@s uk-text-right">
                {{ if .Site.Data.profile.social_media.instagram }}<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>{{ end }}
                {{ if .Site.Data.profile.social_media.facebook }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>{{ end }}
                {{ if .Site.Data.profile.social_media.pinterest }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="pinterest"></a>{{ end }}
                {{ if .Site.Data.profile.social_media.twitter }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="twitter"></a>{{ end }}
            </div>
        </div>
    </div>
</footer>
</body>
</html>