{{ $social := .Site.Data.profile.social_media }}
{{ $contact := .Site.Data.profile.contact_information }}
<footer class="footer">
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-2@s">
                    <div class="uk-width-large">
                        <h2>{{ .Site.Data.appearance.footer.heading }}</h2>
                    </div>
                </div>
                <div class="uk-width-1-2@s">
                    <div class="uk-flex uk-flex-middle uk-flex-right">
                        {{ if $social.instagram }}<a href="{{ $social.instagram }}" class="uk-icon-button uk-margin-small-right" uk-icon="instagram" target="_blank"></a>{{ end }}
                        {{ if $social.facebook }}<a href="{{ $social.facebook }}" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook" target="_blank"></a>{{ end }}
                        {{ if $social.pinterest }}<a href="{{ $social.pinterest }}" class="uk-icon-button  uk-margin-small-right" uk-icon="pinterest" target="_blank"></a>{{ end }}
                        {{ if $social.twitter }}<a href="{{ $social.twitter }}" class="uk-icon-button  uk-margin-small-right" uk-icon="twitter" target="_blank"></a>{{ end }}
                        {{ if $social.yelp }}<a href="{{ $social.yelp }}" class="uk-icon-button  uk-margin-small-right" uk-icon="yelp" target="_blank"></a>{{ end }}
                    </div>
                </div>
            </div>
            <div class="uk-grid-column-small uk-child-width-1-4@s" uk-grid>
                <div>
                    <h2 class="uk-text-bold accent uk-h6">Contact Information</h2>
                    <ul class="uk-list">
                        <li><a href="mailto:{{ $contact.email }}">{{ $contact.email }}</a></li>
                        <li><a href="tel:{{ $contact.phone }}"><strong>Office: </strong>{{ $contact.phone }}</a></li>
                        <li><a href="tel:{{ $contact.cell }}"><strong>Direct: </strong>{{ $contact.cell }}</a></li>
                        <li><a href="https://g.page/hungry-ram?share" target="_blank">{{ $contact.address }}, {{ $contact.city }}, {{ $contact.state }} {{ $contact.zip_code }}</a></li>
                    </ul>                
                </div>
                <div>
                    <h2 class="uk-text-bold accent uk-h6">Real Estate Website</h2>
                    <ul class="uk-list">
                        <li><a href="/services/real-estate-agent-websites/">Agent Websites</a></li>
                        <li><a href="/services/real-estate-broker-websites/">Broker Websites</a></li>
                        <li><a href="/services/agent-idx-websites/">Agent IDX</a></li>
                        <li><a href="/services/broker-idx-websites/">Broker IDX</a></li>

                    </ul>                
                </div>
                <div>
                    <h2 class="uk-text-bold accent uk-h6">Small Business Website</h2>
                    <ul class="uk-list">
                        <li><a href="/services/small-business-website-design/">Small Business Website Design</a></li>
                        <li><a href="/services/ecommerce-website-design/">Ecommerce Website</a></li>
                    </ul>           
                </div>
                <div>
                    <div class="footer-text">
                        <h2 class="uk-text-bold accent uk-h6">Hungry Ram</h2>
                        <p>{{ .Site.Data.appearance.footer.body }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-container uk-padding">
        <div class="uk-grid">
            <div class="uk-width-1-1@s">
                <p class="uk-light uk-text-small">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }}</p>
                <ul class="hr-legals uk-padding-remove">
                    {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
                    <li class="uk-light uk-text-small uk-display-inline uk-margin-medium-right"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                  </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>