<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .Params.noindex }}
    <meta name="robots" content="noindex, nofollow" />
    {{ else }}
    <meta name="robots" content="index, follow" />
    {{ end }}

    <link rel="stylesheet" href="{{.Site.BaseURL}}css/styles.min.css">
    <link rel="alternate" href="{{ .Permalink }}" hreflang="en-us" />
    <link rel="alternate" href="{{ .Permalink }}" hreflang="x-default" />
    {{ partial "global/seo2" . }}
    {{ if .IsHome }}
    {{ partial "global/schema" . }}
    {{ end }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.8/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.8/dist/js/uikit.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.8/dist/js/uikit-icons.min.js" defer></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4X5X3V34Y3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4X5X3V34Y3');
</script>
  <!-- Facebook Pixel Code -->
  <!-- <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '372514063562316');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=372514063562316&ev=PageView&noscript=1"
    /></noscript> -->
    <!-- End Facebook Pixel Code -->
<meta name="p:domain_verify" content="b15e511810919a03ae9922c7a08289b4"/>
<meta name="google-site-verification" content="wAmNl-djcf7naDnLrCdiVHUTwj-WKZsKANYRmhFJXXA" />
</head>
<body id="body">
<!-- Messenger Chat Plugin Code -->
<!-- <div id="fb-root"></div> -->

<!-- Your Chat Plugin code -->
<!-- <div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
var chatbox = document.getElementById('fb-customer-chat');
chatbox.setAttribute("page_id", "218269202354135");
chatbox.setAttribute("attribution", "biz_inbox");

window.fbAsyncInit = function() {
  FB.init({
    xfbml            : true,
    version          : 'v11.0'
  });
};

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script> -->
