{{ $social := .Site.Data.profile.social_media }}
{{ $contact := .Site.Data.profile.contact_information }}
<div class="uk-visible@s" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-dark; cls-inactive: uk-navbar-transparent; top: 200">
    
<div class="top-navbar">
    <nav class="uk-container uk-container-medium" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                {{ if $social.facebook }}<li><a href="{{ $social.facebook }}" target="_blank" title="Facebook">Fb</a></li>{{ end }}
                {{ if $social.instagram }}<li><a href="{{ $social.instagram }}" target="_blank" title="Instagram">Ig</a></li>{{ end }}
                {{ if $social.pinterest }}<li><a href="{{ $social.pinterest }}" target="_blank" title="Pinterest">Pin</a></li>{{ end }}
                {{ if $social.twitter }}<li><a href="{{ $social.twitter }}" target="_blank" title="Twitter">Tw</a></li>{{ end }}
                {{ if $social.yelp }}<li><a href="{{ $social.yelp }}" target="_blank" title="Yelp">Yp</a></li>{{ end }}
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                {{ if $contact.phone }}<li><a href="tel:{{ $contact.phone }}">{{ $contact.phone }}</a></li>{{ end }}
                {{ if $contact.email }}<li><a href="mailto:{{ $contact.email }}">{{ $contact.email }}</a></li>{{ end }}
            </ul>
        </div>
    </nav>
</div>
    <nav class="main-nav uk-navbar-container uk-navbar-transparent">
        <div class="uk-container uk-container-medium">
            <div uk-navbar="dropbar: true" delay-hide="50">
                <div class="uk-navbar-left">
                    <a href="{{ .Site.BaseURL }}">
                        <img src="{{ .Site.Data.appearance.branding.logo }}" alt="{{ .Site.Data.profile.company_name }}" width="200" class="dark-logo">
                        <img src="{{ .Site.Data.appearance.branding.white_logo }}" alt="{{ .Site.Data.profile.company_name }}" width="200" class="white-logo">
                    </a>

                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav uk-text-bold">
                        <li><a href="/">Home</a></li>
                        <li>
                            <a href="#">Web Design<span class="uk-icon uk-margin-small-left" uk-icon="icon: chevron-down"></span></a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-3">
                                <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-nav-header accent">Real Estate Websites</li>
                                            <li class="uk-nav-divider"></li>
                                            <li><a href="/services/real-estate-agent-websites/">Agent websites</a></li>
                                            <li><a href="/services/real-estate-broker-websites/">Broker websites</a></li>
                                            <li class="uk-nav-header accent">IDX Websites</li>
                                            <li class="uk-nav-divider"></li>
                                            <li><a href="/services/agent-idx-websites/">Agent IDX</a></li>
                                            <li><a href="/services/broker-idx-websites/">Broker IDX</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-nav-header accent">Small Business Websites</li>
                                            <li class="uk-nav-divider"></li>
                                            <li><a href="/services/ecommerce-website-design/">Ecommerce website</a></li>
                                            <li><a href="/services/small-business-website-design/">Small business website</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">About<span class="uk-icon uk-margin-small-left" uk-icon="icon: chevron-down"></span></a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-3">
                                <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-nav-header accent">Hungry Ram</li>
                                            <li class="uk-nav-divider"></li>
                                            <li><a href="/about">About</a></li>
                                            <li><a href="/portfolio">Portfolio</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-nav-header accent">Resources</li>
                                            <li class="uk-nav-divider"></li>
                                            <li><a href="/faq">FAQ</a></li>
                                            <li><a href="/blog">Blog</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <div class="uk-navbar-item">
                                <li><a class="uk-button uk-button-primary" href="https://calendly.com/hungry-ram" style="font-weight: 500">Book a call</a></li>
                                {{ partial "templates/audit" . }}
                        </div>                    
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</div>


{{/*  MOBILE MENU  */}}
<div uk-sticky="animation: uk-animation-slide-top-medium; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-dark; cls-inactive:uk-navbar-transparent; top: 400">
    <nav class="uk-navbar uk-navbar-container uk-hidden@s uk-box-shadow-small" style="padding-left: 15px;padding-right:15px;">
        <div class="uk-navbar-left">
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.Data.appearance.branding.logo }}" alt="Hungry Ram Web Design Dark Logo" width="200" class="dark-logo">
                <img src="{{ .Site.Data.appearance.branding.white_logo }}" alt="Hungry Ram Web Design White Logo" width="200" class="white-logo">
            </a>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#mobile-menu-slide" uk-toggle></a>
        </div>
    </nav>
    </div>
    <div id="mobile-menu-slide" style="z-index: 5;" uk-offcanvas="mode: reveal">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                <li class="uk-nav-header">Hungry Ram</li>

                <li class="uk-nav-header"></li>
                <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                <li class="uk-parent">
                    <a href="#">Web Design</a>
                    <ul class="uk-nav-sub">
                        <li class="uk-nav-header">Real Estate Websites</li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="/services/real-estate-agent-websites/">Agent websites</a></li>
                        <li><a href="/services/real-estate-broker-websites/">Broker websites</a></li>
                        <li class="uk-nav-header">IDX Websites</li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="/services/agent-idx-websites/">Agent IDX</a></li>
                        <li><a href="/services/broker-idx-websites/">Broker IDX</a></li>
                        <li class="uk-nav-header">Small Business Websites</li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="/services/ecommerce-website-design/">Ecommerce website</a></li>
                        <li><a href="/services/small-business-website-design/">Small business website</a></li>
                        <!-- <li class="uk-nav-header">Added Website Tools</li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="/blog/google-analytics/">Web Analytics</a></li>
                        <li><a href="/blog/google-console/">Google console</a></li> -->
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#">About</a>
                    <ul class="uk-nav-sub">
                        <li class="uk-nav-header">Hungry Ram</li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li class="uk-nav-header">Resources</li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="uk-nav-header"></li>
                <li class="uk-nav-divider"></li>
                <li class="uk-nav-header"></li>
                <li><a href="mailto:{{ $contact.email }}" class="uk-link-text"><strong>Email: </strong>{{ $contact.email }}</a></li>
                <li><a href="tel:{{ $contact.phone }}" class="uk-link-text"><strong>Office: </strong>{{ $contact.phone }}</a></li>
                <li><a href="tel:{{ $contact.cell }}" class="uk-link-text"><strong>Direct: </strong>{{ $contact.cell }}</a></li>
                <li><a href="https://g.page/hungry-ram?share" target="_blank" class="uk-link-text">{{ $contact.address }}, {{ $contact.city }}, {{ $contact.state }} {{ $contact.zip_code }}</a></li>
                <li class="uk-nav-header"></li>
                {{ if $social.facebook }}<li class="uk-display-inline-block uk-margin-small-right"><a href="{{ $social.facebook }}" target="_blank" uk-icon="facebook"></a></li>{{ end }}
                {{ if $social.instagram }}<li class="uk-display-inline-block uk-margin-small-right"><a href="{{ $social.instagram }}" target="_blank" uk-icon="instagram"></a></li>{{ end }}
                {{ if $social.yelp }}<li class="uk-display-inline-block uk-margin-small-rights"><a href="{{ $social.yelp }}" target="_blank" uk-icon="yelp"></a></li>{{ end }}
            </ul>
        </div>
    </div>
