<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "WebSite",
      "name": "Hungry Ram",
      "url": "https://www.hungryram.com/"
    }
</script>
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "ProfessionalService",
        "image": "https://res.cloudinary.com/hungryram19/image/upload/v1606809089/hungryram/favicon_wbz1ng.jpg",
        "priceRange": null,
        "telephone": "657-549-5082",
        "name": "Hungry Ram",
        "logo": "https://res.cloudinary.com/hungryram19/image/upload/v1606809089/hungryram/favicon_wbz1ng.jpg",
        "description": "Orange County web design for real estate professionals and small businesses.",
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": 33.87521697227549,
            "longitude": -117.74577287142314
        },
        "url": "https://www.hungryram.com",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "657-549-5082",
            "contactType": "customer service",
            "email": "ram@hunryram.com",
            "contactOption": "",
            "areaServed": {
                "@type": "GeoCircle",
                "geoMidpoint": {
                    "@type": "GeoCoordinates",
                    "latitude": 33.87521697227549,
                    "longitude": -117.74577287142314
                },
                "geoRadius": 1000
            }
        },
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "United States",
            "addressLocality": "Orange County",
            "addressRegion": "CA",
            "postalCode": "92887",
            "streetAddress": "5511 Mirage Street #1007"
        }
    }
</script>