<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@graph": [{
		"@type": "WebSite",
		"@id": "https://www.hungryram.com/#website",
		"url": "https://www.hungryram.com/",
		"name": "Hungry Ram",
	}, {
		"@type": "WebPage",
		"@id": "https://www.hungryram.com/agent-idx-websites/#webpage",
		"url": "https://www.hungryram.com/agent-idx-websites/",
		"inLanguage": "en-US",
		"name": "Agent IDX Websites - Hungry Ram",
		"isPartOf": {
			"@id": "https://www.hungryram.com/#website"
		},
		"description": "Grow your leads with a real estate website that is faster and more secure than traditional sites."
	}]
}
</script>

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "ProfessionalService",
        "image": "https://res.cloudinary.com/hungryram19/image/upload/v1606809089/hungryram/favicon_wbz1ng.jpg",
        "priceRange": null,
        "telephone": "657-549-5082",
        "name": "Hungry Ram",
        "logo": "https://res.cloudinary.com/hungryram19/image/upload/v1606809089/hungryram/favicon_wbz1ng.jpg",
        "description": "Based in Orange County, providing the best websites for real estate and small businesses using modern tools to make your website faster and more secure",
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": null,
            "longitude": null
        },
        "url": "https://www.hungryram.com",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "657-549-5082",
            "contactType": "customer service",
            "email": "ram@hunryram.com",
            "contactOption": "",
            "areaServed": "",
            "availableLanguage": null
        },
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "United States",
            "addressLocality": "Orange County",
            "addressRegion": "CA",
            "postalCode": "92886",
            "streetAddress": null
        }
    }
</script>