<!-- MODAL -->
<div id="modal-signup" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" style="padding: 10px 15px;">

        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-text-center uk-dark uk-margin-medium">
            <h2 class="uk-h3">Find out how our websites are different</h2>
            <p>Built entirely different from your average websites. Give your website the edge it needs to outrank your competitors</p>
        </div>
        <form name="Modal Sign Up" method="POST" netlify-honeypot="bot-field" data-netlify="true" class="uk-grid-small" uk-grid action="/thank-you">
            <input name="bot-field" type="hidden" />
            <input type="hidden" name="Subject" value="Website Contact Form">
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder="Name*" name="Name" required>
            </div>
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder="Phone*" name="Phone" required>
            </div>
            <div class="uk-width-1-1">
                <input class="uk-input" type="text" placeholder="Email*" name="Email" required>
            </div>
            <div class="uk-width-1-1">
                <textarea class="uk-textarea" rows="3" placeholder="Your Message" name="Message"></textarea>
            </div>
            <div class="uk-width-1-1">
                <button class="uk-button uk-button-secondary modal-button">Submit</button>
            </div>
            <div class="uk-width-1-1 md__content">
                <small>By submitting this form you agree to our <a href="/legal/privacy-policy">privacy policy</a> and <a href="/legal/terms-and-conditions">terms and condition.</a></small>
            </div>
        </form>
    </div>
</div>