<div class="uk-section uk-section-xsmall" style="background: #2196f3">
    <div class="uk-container">
        <div class="uk-grid uk-light">
            <div class="uk-width-1-2@s">
                <h2 class="uk-h3">Keep up with free website promos</h2>
                <p>Stay up to date with the latest news on improving your website, free site setups, and promos!</p>
            </div>
            <div class="uk-width-1-2@s">
                <div class="klaviyo-form-SRB7hX"></div>
            </div>
        </div>
    </div>
</div>