{{ define "main" }}
<div class="uk-section uk-margin-medium-top">
    <div class="uk-container">
        <div class="uk-text-left uk-grid-large uk-flex-middle" uk-grid>
            <div class="uk-width-1-3@s">
                <div class="uk-card">
                    <h2>Manage your added listings and more</h2>
                    <div class="uk-margin-medium">
                        <p>Most websites integrate third party like IDX. This can prevent faster load time. If you don't need IDX, our admin portal allows you to manually add in listings through a user-friendly interface.</p>
                        <a href="#modal-signup" class="uk-button uk-button-primary" uk-toggle>Get started</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card box-shadow">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628184545/hungryram/agent-idx_fhaz9m.jpg" alt="" class="border">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-margin-medium-top">
    <div class="uk-container">
        <div class="uk-text-left uk-grid-large uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-card box-shadow">
                    <video src="https://res.cloudinary.com/hungryram19/video/upload/v1628187465/hungryram/admin2_lzlrvt.mp4" loop muted playsinline uk-video="autoplay: inview"></video>
                </div>
            </div>
            <div class="uk-width-1-3@s">
                <div class="uk-card">
                    <h2>Control the appearance and branding of your site</h2>
                    <div class="uk-margin-medium">
                        <p>A versatile dashboard accessible through desktop and mobile. Need an option within a dashboard? Chances are it could be added in.</p>
                        <a href="#modal-signup" class="uk-button uk-button-primary" uk-toggle>Get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-margin-medium-top">
    <div class="uk-container">
        <div class="uk-text-left uk-grid-large uk-flex-middle" uk-grid>
            <div class="uk-width-1-3@s">
                <div class="uk-card">
                    <h2>Power a real estate website with no database</h2>
                    <div class="uk-margin-medium">
                        <p>Most real estate sites run on database, which makes more calls to the server and can slow down a website. Instead your website is built with files that are displayed instantly to your visitors.</p>
                        <a href="#modal-signup" class="uk-button uk-button-primary" uk-toggle>Get started</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card box-shadow">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628191120/hungryram/listings2_sygkmq.jpg" alt="" class="border">
                </div>
            </div>
        </div>
    </div>
</div>
{{ partial "global/closing" . }}
{{ end }}