{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-flex uk-flex-center">
            <div class="uk-width-xlarge">
                <div class="uk-text-center">
                    <div>
                        <div class="uk-card">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628136652/hungryram/shopify-partner_gyjw3i.png" alt="Shopify Partner" width="300">
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-margin-medium-top">
                            <h2>Partnered with the <span class="accent">largest </span>ecommerce platform</h2>
                            <p>If you ever visited a site to shop on, chances are they are built on Shopify, the largest platform for merchants to sell their products</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-flex uk-flex-middle" uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-card border uk-card-body">
                    <h2>Flexible Solutions</h2>
                    <p>Shopify allows you to extend the functionality of your website with third-party integration through their app store. This gives you the ability to extend the basic functionality of your store. You may find it that third party integration can help and optimize your operations.</p>
                </div>
            </div>
            <div class="uk-width-1-2@s uk-visible@s uk-text-center">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628206172/hungryram/solution_etdbvl.png" alt="" width="300">
            </div>
        </div>

        <div class="uk-flex uk-flex-middle" uk-grid>
            <div class="uk-width-1-2@s uk-visible@s uk-text-center">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628205889/hungryram/tools_c160ji.png" alt="" width="300">
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-card border uk-card-body">
                    <h2>Tools to manage your business</h2>
                    <p>Running an ecommerce shop means staying on top of lots of moving parts. The Shopify admin allows merchants to view all components of the business and ensure things are running smoothly.</p>
                </div>
            </div>
        </div>

        <div class="uk-flex uk-flex-middle" uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-card border uk-card-body">
                    <h2>Managing sales and products</h2>
                    <p>With store management, you'll be able to keep track of your customers online orders and the state of the order. Organize products through flexible collections and track your inventory when items are constantly purchased.</p>
                </div>
            </div>
            <div class="uk-width-1-2@s uk-visible@s uk-text-center">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628206259/hungryram/manage-sales_uawtp1.png" alt="" width="300">
            </div>
        </div>

        <div class="uk-flex uk-flex-middle" uk-grid>
            <div class="uk-width-1-2@s uk-visible@s uk-text-center">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628206053/hungryram/payment_ila4rw.png" alt="" width="300">
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-card border uk-card-body">
                    <h2>Secured Payment</h2>
                    <p>Shopify is integrated with their own payment system, the simplest way to accept all types of payments. Payment details are synced clearly with orders, making it easy for you to see how much they've paid without leaving Shopify.</p>
                </div>
            </div>
        </div>

    </div>
</div>
{{ partial "global/closing" . }}
{{ end }}