{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-1-2@s uk-margin-medium-bottom">
                <h3>Get exclusive savings on a website without any large investments</h3>
                <p>Experience the power of real estate websites built with modern tools to help the speed and flexibility of your website.</p>
                <ul class="uk-list">
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>SSL security Installed</li>
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>No contract cancel anytime</li>
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>Superior support</li>
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>Hosted on lightning fast servers</li>
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>Site back ups</li>
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>Search Engine Optimized</li>
                </ul>
            </div>
            <div class="uk-width-1-2@s">
                <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                    <li><a href="#">Single Agent</a></li>
                    <li><a href="#">Broker/Team</a></li>
                </ul>
                
                <ul class="uk-switcher uk-margin">
                    <li>
                        <div class="uk-card uk-card-default" style="padding: 30px;">
                            <h3>Single Agent Onboard</h3>
                            <form name="Website Special Agent" method="POST" netlify-honeypot="bot-field" data-netlify="true" action="/single-agent">
                                <input name="bot-field" type="hidden" />
                                <input type="hidden" name="Subject" value="Website Single Agent Special">
                                <input name="Link" type="hidden" value="{{ .Permalink }}" />



                                <ul uk-accordion>
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">Contact Information</a>
                                        <div class="uk-accordion-content">
                                            <div class="uk-grid-small" uk-grid>
                                                <div class="uk-width-1-2@s">
                                                    <input class="uk-input" type="text" placeholder="Name" name="Name" required>
                                                </div>
                                                <div class="uk-width-1-2@s">
                                                    <input class="uk-input" type="text" placeholder="Phone" name="Phone" required>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <input class="uk-input" type="text" placeholder="Email" name="Email" required>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uk-accordion-title" href="#">Website Information</a>
                                        <div class="uk-accordion-content">
                                            <div class="uk-grid-small" uk-grid>
                                                <div class="uk-width-1-1">
                                                    <input class="uk-input" type="text" placeholder="Company Name" name="company">
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <input class="uk-input" type="text" placeholder="Website URL" name="domain">
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-margin" uk-margin>
                                                        <div uk-form-custom="target: true">
                                                            <input type="file" name="photo">
                                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Upload Agent Photo" name="photo" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-margin" uk-margin>
                                                        <div uk-form-custom="target: true">
                                                            <input type="file" name="logo">
                                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Upload Logo" name="logo" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uk-accordion-title" href="#">MLS Board</a>
                                        <div class="uk-accordion-content">
                                            <p>MLS is an additional $20 and is optional. Free trial does not include MLS. Direct or pass-through fees may be applicable depending on your MLS board</p>
                                            <div class="uk-grid-small" uk-grid>
                                                <div class="uk-width-1-1">
                                                    <input class="uk-checkbox" type="checkbox" id="mlsdata" name="mlsdata"><label for="mlsdata"> I want MLS Data (IDX)</label>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <input class="uk-input" type="text" placeholder="Your MLS Board" name="mls">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                        
                                <div class="uk-width-1-1">
                                    <small></small>
                                </div>
                                <div class="uk-width-1-1">
                                    <textarea class="uk-textarea" rows="5" placeholder="Questions and comments" name="comments"></textarea>
                                </div>
                                <div class="uk-width-1-1">
                                    <button class="uk-button uk-button-secondary modal-button">Build my website</button>
                                </div>
                                <div class="uk-width-1-1">
                                    <small>By submitting the form with your information above you are agreeing to our <a style="color:#2196f3" href="/legal/terms-and-conditions">Terms and Conditions</a> and <a style="color:#2196f3" href="/legal/privacy-policy">Privacy Policy</a></small>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="uk-card uk-card-default" style="padding: 30px;">
                            <h3>Broker/Team Onboard</h3>
                            <form name="Website Special BrokerTeam" method="POST" netlify-honeypot="bot-field" data-netlify="true" action="/broker-team">
                                <input name="bot-field" type="hidden" />
                                <input type="hidden" name="Subject" value="Website Special BrokerTeam">
                                <input name="Link" type="hidden" value="{{ .Permalink }}" />



                                <ul uk-accordion>
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">Contact Information</a>
                                        <div class="uk-accordion-content">
                                            <div class="uk-grid-small" uk-grid>
                                                <div class="uk-width-1-2@s">
                                                    <input class="uk-input" type="text" placeholder="Name" name="Name" required>
                                                </div>
                                                <div class="uk-width-1-2@s">
                                                    <input class="uk-input" type="text" placeholder="Phone" name="Phone" required>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <input class="uk-input" type="text" placeholder="Email" name="Email" required>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uk-accordion-title" href="#">Website Information</a>
                                        <div class="uk-accordion-content">
                                            <div class="uk-grid-small" uk-grid>
                                                <div class="uk-width-1-1">
                                                    <input class="uk-input" type="text" placeholder="Company Name" name="company">
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <input class="uk-input" type="text" placeholder="Website URL" name="domain">
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-margin" uk-margin>
                                                        <div uk-form-custom="target: true">
                                                            <input type="file">
                                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Upload Agent Photo" name="agentphoto" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-margin" uk-margin>
                                                        <div uk-form-custom="target: true">
                                                            <input type="file">
                                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Upload Logo" name="logo" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uk-accordion-title" href="#">MLS Board</a>
                                        <div class="uk-accordion-content">
                                            <p>MLS is an additional $20 and is optional. Free trial does not include MLS. Direct or pass-through fees may be applicable depending on your MLS board</p>
                                            <div class="uk-grid-small" uk-grid>
                                                <div class="uk-width-1-1">
                                                    <input class="uk-checkbox" type="checkbox" id="mlsdata" name="mlsdata"><label for="mlsdata"> I want MLS Data (IDX)</label>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <input class="uk-input" type="text" placeholder="Your MLS Board" name="mls">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                        
                                <div class="uk-width-1-1">
                                    <small></small>
                                </div>
                                <div class="uk-width-1-1">
                                    <textarea class="uk-textarea" rows="5" placeholder="Questions and comments" name="comments"></textarea>
                                </div>
                                <div class="uk-width-1-1">
                                    <button class="uk-button uk-button-secondary modal-button">Build my website</button>
                                </div>
                                <div class="uk-width-1-1">
                                    <small>By submitting the form with your information above you are agreeing to our <a style="color:#2196f3" href="/legal/terms-and-conditions">Terms and Conditions</a> and <a style="color:#2196f3" href="/legal/privacy-policy">Privacy Policy</a></small>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}