{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-1-2@s uk-margin-medium-bottom">
                <h3>Get exclusive savings on a website without any large investments</h3>
                <p>Experience the power of real estate websites built with modern tools to help the speed and flexibility of your website.</p>
                <ul class="uk-list">
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>SSL security Installed</li>
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>No contract cancel anytime</li>
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>Unlimited support</li>
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>Hosted on lightning fast servers</li>
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>Site back up</li>
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>We pay for your MLS data fee</li>
                </ul>
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-card uk-card-default" style="padding: 30px;">
                    <h3>Fast and Easy <span class="accent">Sign up</span></h3>
                    <form name="Website Special" method="POST" netlify-honeypot="bot-field" data-netlify="true" class="uk-grid-small" uk-grid action="/thank-you">
                        <input name="bot-field" type="hidden" />
                        <input type="hidden" name="Subject" value="Website Contact Form">
                        <input name="Link" type="hidden" value="{{ .Permalink }}" />
                    
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="text" placeholder="Name" name="Name" required>
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="text" placeholder="Phone" name="Phone" required>
                        </div>
                        <div class="uk-width-1-1">
                            <input class="uk-input" type="text" placeholder="Email" name="Email" required>
                        </div>
                        <div class="uk-width-1-1">
                            <select class="uk-select" name="package" required>
                                <option value="single">Single Agent - $79/mo</option>
                                <option value="teambroker">Team/Broker - $99/mo</option>
                            </select>
                        </div>
                        <div class="uk-width-1-1">
                            <textarea class="uk-textarea" rows="5" placeholder="Questions and comments" name="comments"></textarea>
                        </div>
                        <div class="uk-width-1-1">
                            <button class="uk-button uk-button-secondary modal-button">Build my website</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}