{{ partial "global/head" . }}
{{ $hero := .Site.Data.home.hero }}
<div class="uk-cover-container" uk-height-viewport="offset-bottom:20" style="background: url(https://res.cloudinary.com/hungryram19/image/upload/v1636968077/hungryram/business-meet.jpg) no-repeat center;background-size:cover" uk-grid>    
    <div class="uk-overlay-primary uk-position-cover"></div>
    <div class="uk-position-top full-nav-wrapper" style="z-index: 2;">
        {{ partial "global/navbar" . }}
    </div>
    <div class="hero-text uk-white uk-width-1-1@s uk-text-left uk-margin-large-top uk-position-center uk-text-center@s" style="z-index:1">
        <div class="uk-padding">
            <h1 class="uk-text-bold heading uk-margin-remove uk-white">Save $500 on a real estate website setup</h1>
            <p>Give your business an edge over your competitors with a new type of website.<br>Built entirely different from your average real estate websites.</p>
            
            <div class="uk-margin-medium-top">
                <a href="#website-signup" class="uk-button-primary uk-button" uk-scroll>Start Free trial</a>
                <div>
                    <small>Start your 7-day free trial. No credit card required.</small>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="uk-section website-special">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-1-2@s uk-margin-medium-bottom">
                <h3><span class="accent">LIMITED TIME:</span> We're offering a FREE website setup and waiving your CRMLS data fee!</h3>
                <p style="font-weight:600">Why? We want you to experience the next level in real estate websites.</p>
                <p>With a free trial, you'll learn how everything works and get the guidance you need. Start your free trial today and get a website personalized for you.</p>
                <p></p>

                <ul class="uk-list">
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>No contract cancel anytime</li>
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>Superior support</li>
                    <li><span uk-icon="check" class="uk-icon-button uk-margin-small-right"></span>Search Engine Optimized</li>
                </ul>
            </div>
            <div class="uk-width-1-2@s" id="website-signup">
                        <div class="uk-card uk-card-default" style="padding: 30px;">
                            <div class="uk-text-center">
                                <h3 class="uk-margin-remove">Start for free today</h3>
                                <h5 class="uk-margin-small-top"><span class="accent">FREE</span> site setup</h5>
                                <p>Start your 7-day free trial. No credit card required. $79/mo for single agents. $99/mo for brokers/team after trial.</p>
                            </div>
                            <hr>
                            <form name="Website Special Agent" method="POST" class="uk-margin-medium-top" netlify-honeypot="bot-field" data-netlify="true" action="/website-signup">
                                <input name="bot-field" type="hidden" />
                                <input type="hidden" name="Subject" value="Website Single Agent Special">
                                <input name="Link" type="hidden" value="{{ .Permalink }}" />

                                        <div>
                                            <div class="uk-grid-small" uk-grid>
                                                <div class="uk-width-1-2@s">
                                                    <input class="uk-input" type="text" placeholder="Name" name="Name" required>
                                                </div>
                                                <div class="uk-width-1-2@s">
                                                    <input class="uk-input" type="text" placeholder="Phone" name="Phone" required>
                                                </div>
                                                <div class="uk-width-1-1">
                                                    <input class="uk-input" type="text" placeholder="Email" name="Email" required>
                                                </div>
                                            </div>
                                        </div>
                                <div class="uk-width-1-1 uk-margin-small">
                                    <textarea class="uk-textarea" rows="5" placeholder="Additional Information and comments" name="comments"></textarea>
                                </div>
                                <div class="uk-width-1-1">
                                    <button class="uk-button uk-button-secondary modal-button">Build my website</button>
                                </div>
                                <div class="uk-width-1-1">
                                    <small>By submitting the form with your information above you are agreeing to our <a style="color:#2196f3" href="/legal/terms-and-conditions">Terms and Conditions</a> and <a style="color:#2196f3" href="/legal/privacy-policy">Privacy Policy</a></small>
                                </div>
                            </form>
                        </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section" style="background:#f8f8f8">
    <div class="uk-container">
        <h2>Some of our work</h2>
        <hr>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

            <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid" uk-lightbox>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/kaiyager.png">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/kaiyager.png" alt="">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/dave2.png">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/dave2.png" alt="">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/dave1.png">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/dave1.png" alt="">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/erica-jackson.png">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/erica-jackson.png" alt="">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/karinacrisp.png">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/karinacrisp.png" alt="">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/gwb.jpg">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/gwb.jpg" alt="">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/listing.png">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/listing.png" alt="">
                        </a>
                    </div>
                </li>
            </ul>
        
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container">
        <h2>Customer reviews</h2>
        <article class="uk-comment uk-comment-primary uk-margin-small-bottom">
            <header class="uk-comment-header">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src="https://res.cloudinary.com/hungryram19/image/upload/v1636884453/hungryram/website-special/erica-jackson3.jpg" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Erica Jackson</a></h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li><a href="#">Complex Living Real Estate</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="uk-comment-body">
                <p>My experience with Ram was amazing. He is extremely professional, a great communicator and has been able to bring my vision to life. Not to mention, my custom website was very affordable and completed very quickly. I highly recommend Ram to anyone look for a high quality, professional website. Ram, I can’t thank you enough!</p>
            </div>
        </article>
        <article class="uk-comment uk-comment-primary uk-margin-small-bottom">
            <header class="uk-comment-header">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src="https://res.cloudinary.com/hungryram19/image/upload/v1636884601/hungryram/website-special/karina-crisp.jpg" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Karina Crisp</a></h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li><a href="#">eXp Realty</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="uk-comment-body">
                <p>I've worked with several web designers in the past and Ram is by far the best I've ever worked with. He's quick, in constant communication, professional, and the quality of his work is phenomenal. I couldn't be happier with the outcome of my website!</p>
            </div>
        </article>
        <article class="uk-comment uk-comment-primary uk-margin-small-bottom">
            <header class="uk-comment-header">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src="https://res.cloudinary.com/hungryram19/image/upload/v1629843935/jacob-mitro/mitro-team/jacob-mitro_oc4jbe.jpg" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Jacob Mitro</a></h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li><a href="#">LIFE Realty</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="uk-comment-body">
                <p>Ram was a pleasure to work with. He got our site up and running and was easy to work with in getting our revisions made. I'd recommend him to any agent looking to build a fully functional IDX site. Thanks Ram</p>
            </div>
        </article>
    </div>
</div>
{{ partial "global/footer" . }}