{{ define "main" }}
<div class="uk-section" style="margin-top: -140px;">
    <div class="uk-container">
        <div class="uk-card">
            <div class="uk-grid" style="background: #fff;border-top: 4px solid #2196F3;">
                <div class="uk-width-3-4@s uk-flex uk-flex-center">
                        <div class="uk-card uk-card-body">
                            <h2>{{ .Params.first_intro.heading }}</h2>
                            <p>{{ .Params.first_intro.body | markdownify }}</p>
                        </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-margin-large-top uk-grid-large uk-margin-large-bottom">
            <div class="uk-width-expand@s">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1628214718/hungryram/contact-hungry-ram_antytx.jpg" alt="{{ .Params.second_intro.image_alt_tag }}">

            </div>
            <div class="uk-width-3-5@s">
                <h2>{{ .Params.second_intro.heading }}</h2>
                <p>{{ .Params.second_intro.body | markdownify }}</p>
            </div>
        </div>
        <h2>{{ .Params.third_intro.heading }}</h2>
        <div class="uk-grid uk-margin-medium">
            <div class="uk-width-3-5@s">
                <p>{{ .Params.third_intro.body | markdownify }}</p>
            </div>
            <div class="uk-width-expand@s">
                <div class="uk-card">
                    <h3 class="uk-margin-small-top">All our sites follow important web standards</h3>
                    <ul class="uk-list uk-text-left">
                        <li class="accent"><a href="/services/websites-with-ssl-certificates/"><span uk-icon="icon: arrow-right;ratio: 1.5" class="uk-margin-small-right"></span>Fully installed and secured with SSL certificate</a></li>
                        <li class="accent"><a href="/services/responsive-web-design/"><span uk-icon="icon: arrow-right;ratio: 1.5" class="uk-margin-small-right"></span>Responsive web design for all devices</a></li>
                        <li class="accent"><a href="/services/web-hosting/"><span uk-icon="icon: arrow-right;ratio: 1.5" class="uk-margin-small-right"></span>Blazing-fast hosting</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <h2>Website services</h2>

        <div class="uk-child-width-1-3@s uk-text-left uk-grid-collapse uk-margin-large-top" uk-grid>
            {{ range where .Site.RegularPages "Type" "services" }}
                {{ if .Params.featured }}
                <div class="service__list">
                    <a href="{{ .Permalink }}" class="uk-link-text">
                        <div class="uk-card uk-card-body">
                            <h3 class="uk-text-default">{{ .Title }} <span uk-icon="icon:arrow-right; ratio: 1.5"></span></h3>
                            <p>{{ .Params.description }}</p>
                        </div>
                    </a>
                </div>
                {{ end }}
            {{ end }}
            </div>
    </div>
</div>
{{ end }}