{{ $hero := .Site.Data.home.hero }}
<div class="uk-cover-container" uk-height-viewport="offset-bottom:10" style="background: url(https://res.cloudinary.com/hungryram19/image/upload/v1636968077/hungryram/business-meet.jpg) no-repeat center;background-size:cover" uk-grid>    
    <div class="uk-overlay-primary uk-position-cover"></div>
    <div class="uk-position-top full-nav-wrapper" style="z-index: 2;">
        {{ partial "global/navbar" . }}
    </div>
    <div class="hero-text uk-white uk-width-3-5@s uk-text-left uk-margin-large-top uk-position-center" style="z-index:1">
        <div class="uk-width-3-5@s uk-padding-small">
            {{ if $hero.heading }}
            <h1 class="uk-text-bold heading uk-margin-remove uk-white">{{ $hero.heading }}</h1>
            {{ end }}
            {{ if $hero.heading }}
            <p class="uk-white uk-text-large">{{ $hero.body }}</p>
            {{ end }}
            <a href="#modal-signup" class="uk-button-primary uk-button" uk-toggle>Learn more</a>
            <a href="https://calendly.com/hungry-ram" class="uk-button-secondary uk-button" style="border: 1px solid white;background:transparent">Book a call</a>
        </div>
    </div>
    
</div>
