
<div class="uk-section" id="icons-section">
    <div class="uk-container">
        <div class="uk-margin-large-bottom uk-text-left uk-width-2xlarge">
            <h2>What is our <span class="accent">goal</span>?</h2>
            <p>We know how important it is to have an online presence, but we also know that Wordpress isn’t always the best solution for your business. We want to show business owners that there are better faster and more secure alternatives to WordPress.</p>
            <p>Hungry Ram uses modern development architecture designed to make your website faster more secure, and flexible to scale</p>
        </div>
        <div class="uk-child-width-1-3@m uk-text-left uk-grid-medium" uk-grid uk-height-match="target: .uk-card">
            {{ range .Site.Data.home.featured_blocks }}
            <div>
                <div class="uk-card hr-border uk-card-body" style="padding: 30px;">
                    <div class="uk-card-media-top uk-margin-medium-bottom">
                        {{ .svg | safeHTML }}
                    </div>
                    <div>
                        <h3 class="uk-card-title uk-h3" style="font-size: 1.2rem;">{{ .heading }}</h3>
                        <p class="uk-text-left">{{ .body }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

