<div class="uk-section" id="icons-section">
    <div class="uk-container">
        <div class="uk-child-width-1-4@m uk-text-center" uk-grid>
            {{ range .Site.Data.home.featured_blocks }}
            <div>
                <div class="uk-card">
                    <div class="uk-card-media-top">
                        <img src="{{ .image }}" alt="{{ .image_alt }}"  width="100" width="100">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{ .heading }}</h3>
                        <p>{{ .body }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>