<div class="uk-section uk-section-small"></div>
<div class="uk-child-width-1-1 uk-light" uk-grid>
    <div>
        <div class="uk-background-blend-overlay uk-background-cover uk-height-large uk-flex uk-flex-center uk-flex-middle" style="background-image: url(https://res.cloudinary.com/hungryram19/image/upload/v1628046996/hungryram/parallax-background_b2vsuk.jpg); background-position:top" uk-parallax="bgy: -300; easing: 0">
            <div>
                <div class="uk-width-1-1 uk-text-center">
                    <div>
                        <h3>{{ .Site.Data.home.image_banner.heading }}</h3>
                        <p class="uk-text-default">{{ .Site.Data.home.image_banner.body }}</p>
                        <a href="#modal-signup" class="uk-button uk-button-primary" uk-toggle
                        >Get Started</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section uk-section-small"></div>
