<div class="uk-section" style="background: #f9f9f9">
    <div class="uk-container">
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-expand@s">
                <h2>What we do <span class="accent">differently</span></h2>
            </div>
            <div class="uk-width-3-5@s">
                <div class="uk-text-left uk-margin-large-bottom md__content">
                    <p>WordPress is the most used website builder in the world. This means that all of your competitors are using it too, and that's a problem for you!
                    </p>
                    <p>Hungry Ram offers a better solution and gives our clients the advantage of a more fast and secure website that WordPress can't compete with. We have adopted a new method called Jamstack that speeds up websites dramatically while also increasing security. Our clients see an average of 20% increase in conversion rates when they use our website!</p>
                    <div class="uk-text-left">
                        <a href="/about" class="uk-button uk-button-primary uk-text-center">About us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>