{{ $switcher := .Site.Data.home.text_and_image.switcher }}
<div class="uk-section">
    <div class="uk-container" uk-height-match="target: .uk-card">
        <div uk-grid>
            <div class="uk-width-1-2@s uk-card uk-flex uk-flex-middle">
                <div class="uk-width-large switcher">
                    <h2>{{ .Site.Data.home.text_and_image.heading }}</h2>
                    <div class="uk-margin-medium">
                        <ul class="uk-switcher uk-margin right-switcher">
                            {{ range $switcher }}
                            <li>{{ .body }}</li>
                            {{ end }}
                        </ul>
                        <ul class="uk-switcher uk-margin-remove right-switcher">
                            {{ range $switcher }}
                            <li><a href="{{ .link }}" class="more-info" uk-icon="icon: chevron-right">Learn more</a></li>
                            {{ end }}
                        </ul>       
                    </div>
                    <ul class="uk-list uk-text-left text-switch" uk-switcher="connect: .right-switcher">
                        {{ range $switcher }}
                        <li><a href=""><span uk-icon="icon: check" class="uk-margin-small-right"></span>{{ .heading }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card switcher-video">
                    <ul class="uk-switcher uk-margin right-switcher">
                        {{ range $switcher }}
                        <video src="{{ .video_link }}" loop muted playsinline uk-video="autoplay: inview"></video>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>