{{ $switcher := .Site.Data.home.text_and_image.switcher }}
<div class="uk-section">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-width-large">
                    <h2>{{ .Site.Data.home.text_and_image.heading }}</h2>
                    <p>{{ .Site.Data.home.text_and_image.body }}</p>
                    <ul class="uk-list uk-text-left" uk-switcher="connect: .right-switcher">
                        {{ range $switcher }}
                        <li><a href="#" class="uk-button uk-button-primary">{{ .heading }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="uk-width-expand">
                <ul class="uk-switcher uk-margin right-switcher">
                    {{ range $switcher }}
                    <li><img src="{{ .image }}" alt="{{ .image_alt }}"></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>