{{ define "main" }}
<style>
    ul.uk-breadcrumb {
    display: none;
}
</style>
    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <h2>Thank you for your interest!</h2>
            <p>Hungry Ram focuses on providing quality websites using only the newest technologies to adapt and change as the web industry grows.</p>
            <p>We're excited to keep you updated on newest web releases as we expand into emerging technologies</p>
        </div>
    </div>
{{ end }}