{{ partial "global/head" . }}
<div class="uk-section uk-section-large" style="background: url(https://res.cloudinary.com/hungryram19/image/upload/v1637982803/hungryram/website-special/background-special-2.jpg) no-repeat center;background-size:cover" id="signup-2">
    <div class="uk-container uk-light uk-text-center uk-margin-medium-bottom">
        <a class="uk-navbar-item uk-logo" href="/">
            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1631939763/hungryram/large-hungry-ram-whitelogo_lo33ll.png" alt="Hungry Ram" width="200">
        </a>
        <h1>Get Your Free Real Estate Website</h1>
        <p>Sign up today and claim your FREE website setup. We're covering up to $10 of your monthly MLS data fee and giving you a free website setup!<br> The ULTIMATE real estate website deal</p>
    </div>
    <div class="uk-container uk-container-small">
        <div class="uk-card uk-card-default uk-padding">
            <form name="Website Special 2" method="POST" class="uk-margin-medium-top" netlify-honeypot="bot-field" data-netlify="true" action="/website-signup">
                <input name="bot-field" type="hidden" />
                <input type="hidden" name="Subject" value="Website Single Agent Special">
                <input name="Link" type="hidden" value="{{ .Permalink }}" />
    
                        <div>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-1-2@s">
                                    <input class="uk-input" type="text" placeholder="Name" name="Name" required>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <input class="uk-input" type="text" placeholder="Phone" name="Phone" required>
                                </div>
                                <div class="uk-width-1-1">
                                    <input class="uk-input" type="text" placeholder="Email" name="Email" required>
                                </div>
                            </div>
                        </div>
                <div class="uk-width-1-1 uk-margin-small">
                    <textarea class="uk-textarea" rows="5" placeholder="Additional Information and comments" name="comments"></textarea>
                </div>
                <div class="uk-width-1-1">
                    <button class="uk-button uk-button-secondary modal-button">Submit</button>
                </div>
                <div class="uk-width-1-1 uk-text-center">
                    <p class="uk-text-small uk-margin-small-top">By submitting the form with your information above you are agreeing to our <a style="color:#2196f3" href="/legal/terms-and-conditions">Terms and Conditions</a> and <a style="color:#2196f3" href="/legal/privacy-policy">Privacy Policy</a></p>
                    <p class="uk-text-small uk-text-center">Start your 7-day free trial. No credit card required. We are offering a free real estate website. After the 7-day trial, it is $49/mo for single agents and $69 for teams/brokers. IDX is an additional $30/mo. Data fee is charged through your MLS. We cover up to $10/mo for your data fee.</p>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="uk-section" style="background:#f8f8f8">
    <div class="uk-container">
        <h2>Some of our work</h2>
        <hr>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

            <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid" uk-lightbox>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/kaiyager.png">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/kaiyager.png" alt="">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/dave2.png">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/dave2.png" alt="">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/dave1.png">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/dave1.png" alt="">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/erica-jackson.png">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/erica-jackson.png" alt="">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/karinacrisp.png">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/karinacrisp.png" alt="">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/gwb.jpg">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/gwb.jpg" alt="">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="uk-panel">
                        <a href="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/listing.png">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636883777/hungryram/website-special/listing.png" alt="">
                        </a>
                    </div>
                </li>
            </ul>
        
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
        </div>
        <div class="uk-margin-medium-top uk-text-center">
            <a href="#signup-2" class="uk-button uk-button-primary" uk-scroll>Claim offer</a>
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container">
        <h2>Customer reviews</h2>
        <article class="uk-comment uk-comment-primary uk-margin-small-bottom">
            <header class="uk-comment-header">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src="https://res.cloudinary.com/hungryram19/image/upload/v1636884453/hungryram/website-special/erica-jackson3.jpg" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Erica Jackson</a></h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li><a href="#">Complex Living Real Estate</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="uk-comment-body">
                <p>My experience with Ram was amazing. He is extremely professional, a great communicator and has been able to bring my vision to life. Not to mention, my custom website was very affordable and completed very quickly. I highly recommend Ram to anyone look for a high quality, professional website. Ram, I can’t thank you enough!</p>
            </div>
        </article>
        <article class="uk-comment uk-comment-primary uk-margin-small-bottom">
            <header class="uk-comment-header">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src="https://res.cloudinary.com/hungryram19/image/upload/v1636884601/hungryram/website-special/karina-crisp.jpg" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Karina Crisp</a></h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li><a href="#">eXp Realty</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="uk-comment-body">
                <p>I've worked with several web designers in the past and Ram is by far the best I've ever worked with. He's quick, in constant communication, professional, and the quality of his work is phenomenal. I couldn't be happier with the outcome of my website!</p>
            </div>
        </article>
        <article class="uk-comment uk-comment-primary uk-margin-small-bottom">
            <header class="uk-comment-header">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src="https://res.cloudinary.com/hungryram19/image/upload/v1629843935/jacob-mitro/mitro-team/jacob-mitro_oc4jbe.jpg" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Jacob Mitro</a></h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li><a href="#">LIFE Realty</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="uk-comment-body">
                <p>Ram was a pleasure to work with. He got our site up and running and was easy to work with in getting our revisions made. I'd recommend him to any agent looking to build a fully functional IDX site. Thanks Ram</p>
            </div>
        </article>
        <div class="uk-margin-medium-top uk-text-center">
            <a href="#signup-2" class="uk-button uk-button-primary" uk-scroll>Claim offer</a>
        </div>
    </div>
</div>




{{ $social := .Site.Data.profile.social_media }}
{{ $contact := .Site.Data.profile.contact_information }}
<footer class="footer">
    <div class="uk-container uk-padding">
        <div class="uk-grid">
            <div class="uk-width-1-1@s">
                <p class="uk-light uk-text-small">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }}</p>
                <ul class="hr-legals uk-padding-remove">
                    {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
                    <li class="uk-light uk-text-small uk-display-inline uk-margin-medium-right"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                  </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>